* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  display: flex;

  width: 480px;
  border: 1px solid red;
  margin: 4rem auto;

  &__board {
    width: 240px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(20, 20px);
    background-color: rgb(233, 210, 210);
    &__cell{
        border: 1px solid black
    }
  
  }
  &__display {
    flex-direction: column;
    border: 1px solid rgb(230, 220, 220);
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    &__next{
      border: 1px solid black;
      height: 50px;
    }
    &__stats{
      border: 1px solid black;
      height: 150px;
    }
    &__scores{
      border: 1px solid black;
      height: 125px;
    }
    &__actions{
      border: 1px solid black;
      height: 75px;
    }
  }
}
